<!DOCTYPE html PUBLIC "-//W3c//DTD HTML 4.01//EN">
<html>
<head>
	<title>{% block title %}Unapiedra's Tools{% endblock %}</title>
	<link rel="stylesheet" href="/site_media/style.css">
</head>

<body>

<ul class="navbar">
	<li><a href={% url index %}>Home page </a></li>
	<li><a href={% url pdfjoin %}>PDF Connector </a></li>
	<li><a href={% url impressum %}>Impressum</a></li>
</ul>

<h1> {% block body_header %}{% endblock %} </h1>

{% block content %}
<p>This site is empty. Go somewhere else, please.</p>
{% endblock %}

<address>
{% block address %}

{% endblock %}
</address>

</body>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://unapiedra.dyndns.org/piwik/" : "http://unapiedra.dyndns.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://unapiedra.dyndns.org/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->

</html>